<h1 mat-dialog-title>{{ 'common.add' | translate }}</h1>
<mat-dialog-content>
  <form [formGroup]="formGroup" class="form">
    <div class="mb-2">
      <mat-form-field>
        <mat-label>{{ 'customer.zip' | translate }}</mat-label>
        <input matInput formControlName="zipCode" required type="number">
        <mat-error class="smaller-text" *ngIf="formGroup.controls['zipCode'].hasError('required')">
          <span [innerHTML]="'validation.required' | translate"></span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-2">
      <mat-form-field>
        <mat-label>{{ 'customer.city' | translate }}</mat-label>
        <input matInput formControlName="city" required type="text">
        <mat-error class="smaller-text" *ngIf="formGroup.controls['city'].hasError('required')">
          <span [innerHTML]="'validation.required' | translate"></span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-2">
      <mat-form-field>
        <mat-label>{{ 'customer.houseAddress' | translate }}</mat-label>
        <input matInput formControlName="houseAddress" required type="text">
        <mat-error class="smaller-text" *ngIf="formGroup.controls['houseAddress'].hasError('required')">
          <span [innerHTML]="'validation.required' | translate"></span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="mt-3" align="end">
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid || formGroup.pristine" (click)="onSaveAddress()">
    {{ 'common.save' | translate }}
  </button>
  <button class="mr-1" mat-raised-button [mat-dialog-close]="false">{{ 'common.cancel' | translate }}</button>
</mat-dialog-actions>
