<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="ms-2 navbar-brand">EPIC CRM</span>
  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item" *ngIf="loginUser && loginUser.isAdmin">
        <a class="nav-link" routerLink="/users">{{'menu.users' | translate}}</a>
      </li>

      <li class="nav-item dropdown" *ngIf="loginUser">
        <a class="nav-link dropdown-toggle"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         {{'menu.works' | translate}}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" routerLink="/works">{{'menu.works' | translate}}</a></li>
          <li><a class="dropdown-item" routerLink="/works/calendar">{{'menu.calendar' | translate}}</a></li>
        </ul>
      </li>




      <li class="nav-item" *ngIf="loginUser">
        <a class="nav-link" routerLink="/customers">{{'menu.customers' | translate}}</a>
      </li>

      <li class="nav-item" *ngIf="loginUser">
        <a class="nav-link" (click)="logout()">{{'common.logout' | translate}} ({{loginUser.name}})</a>
      </li>

      <li class="nav-item">
        <app-language-selector class="ms-auto mb-2 mb-lg-0 me-4"></app-language-selector>
      </li>
    </ul>
  </div>
</nav>
